{% extends 'layout.html' %}

{% block body %}
    <center>
        <div>
            <img src="/static/img/primaria.png" width="350">
            <img src="/static/img/secundaria.png" width="350">
            <img src="/static/img/media.png" width="350">
        </div> <br><br>

        <h1>SANTO DOMINGO</h1> <br>
        <p><b>PREESCOLAR - 1 SANTO DOMINGO <br>
            PRIMERO - 1  SANTO DOMINGO <br>
            SEGUNDO- 1  SANTO DOMINGO <br>
            TERCERO - 1  SANTO DOMINGO <br>
            CUARTO - 1  SANTO DOMINGO <br> 
            QUINTO - 1  SANTO DOMINGO </b>
        </p> <br>

        <h1>INDEPENDENCIA</h1> <br>
            <p><b>
                PREESCOLAR - 1  INDEPENDENCIA <br>
                PRIMERO - 1  INDEPENDENCIA <br>
                SEGUNDO- 1  INDEPENDENCIA <br>
                TERCERO - 1  INDEPENDENCIA <br>
                TERCERO - 2  INDEPENDENCIA <br> 
                CUARTO - 1  INDEPENDENCIA <br>
                CUARTO - 2  INDEPENDENCIA <br>
                QUINTO - 1  INDEPENDENCIA <br>
            </b></p>
    
            <p><b>
                SEXTO - 1  INDEPENDENCIA <br>
                SEXTO - 2  INDEPENDENCIA <br>
                SÉPTIMO- 1  INDEPENDENCIA <br>
                SÉPTIMO - 2  INDEPENDENCIA <br>
                OCTAVO - 1  INDEPENDENCIA <br>
                NOVENO- 1  INDEPENDENCIA <br>
            </b></p>
        

        <h1>CENTRAL BOYACÁ</h1> <br>
            <p><b>
                SEXTO - 1  CENTRAL <br>
                SÉPTIMO- 1  CENTRAL <br>
                OCTAVO -1  CENTRAL <br> 
                NOVENO- 1  CENTRAL <br>
                DÉCIMO- 1  CENTRAL <br>
                DÉCIMO- 2  CENTRAL <br>
                UNDÉCIMO- 1  CENTRAL <br>
                UNDÉCIMO- 2  CENTRAL <br> <br> <br>
            </b></p>
    </center>

    
    
{% endblock  %}