{% extends 'layout.html' %}

{% block body %}
    <h1 class="titulosIndex">Rectoria</h1>
    <h2>Mensaje de rectoría</h2>
    <p><b>
        La Coordinación Académica cumple con la función de asesor a nivel institucional lineamientos y estrategias pedagógicas que contribuyen al mejoramiento de la calidad de los procesos académicos y para lograr este objetivo, mediante la revisión y análisis permanente, se busca que la comunidad docente asuma una conciencia crítica acerca del quehacer pedagógico con las estudiantes y de cómo planear nuevas estrategias que posibiliten el constante mejoramiento de los procesos de trabajo de formación en el aula que se propenden por el logro de un aprendizaje significativo.
        Con la planeación se garantiza la estabilidad de estos mismos procesos, asegurando el diseño y desarrollo curricular, los medios didácticos, los recursos, la formación de los docentes, estableciendo mecanismos de verificación y validación que permitan asegurar la calidad del servicio educativo ofrecido por la comunidad.
        Los espacios establecidos para las jornadas pedagógicas de áreas se convierten en medios fundamentales que tienen los docentes y la institución de capacitarse y conocer los distintos avances e campo educativo nacional o internacional, con el fin de retroalimentar los procesos internos y poder diseñar un currículo ajustado a las necesidades de nuevas generaciones de estudiantes y a las exigencias de la época.
        Los horarios de atención propuestos por los docentes y directivas, motivan a una participación activa y de acompañamiento permanente de los padres de familia, en formación personal y ecdémica de las estudiantes logrando que los procesos de aprendizajes sean cada vez eficaces, de tal modo que realmente se de cumplimiento a la Misión y Visión institucionales de formar Mujeres testimonios de valores franciscanos comprometidas en la transformación de la sociedad.
        Juntos podemos saldremos adelante
        Muchos éxitos en año escolar 2020.
    </b></p>
{% endblock  %}