{% extends 'layout.html' %}

{% block body %}

    <h2 class="titulosIndex">¿QUÍENES SOMOS?</h2>
    <p>La Institución Educativa Boyacá es un establecimiento oficial adscrito a la Secretaria de Educación de Cali que ofrece los niveles de Preescolar, Básica Primaria y Secundaria, y Educación Media Técnica con 3 Especialidades: Técnico en Recreación y Deportes, Técnico en auxiliar de Administración y la Educación Formal de Jóvenes y Adultos EFJA (Educación por ciclos).</p> <br>

    <H2 class="titulosIndex">MISIÓN</H2>
    <p> La Institución Educativa Boyacá, fomenta el liderazgo comunitario, la convivencia democrática, la participación incluyente en las instancias del gobierno escolar y el conocimiento, formando al estudiante de manera integral para la competitividad en el campo académico, científico-técnico y laboral, mediante una educación de calidad.</p><br>

    <H2 class="titulosIndex">VISIÓN</H2>
    <p>La Institución Educativa Boyacá en el 2024 será reconocida a nivel regional y local por su liderazgo deportivo y comercial, líder en la proyección de ciudadanos y ciudadanas capaces de reconocer y visibilizar en igualdad de condiciones a sus semejantes sin importar su orientación sexual, su discapacidad o su necesidad de inclusión, en esta nueva construcción social encaminando sus acciones al crecimiento personal y social, cimentadas en el saber-ser, saber-saber y saber-hacer.</p> <br>

    <H2 class="titulosIndex">VALORES INSTITUCIONALES</H2>
    <p><b>Orden:</b>  Es el fruto de la organización y disposición armoniosa de las  personas y las cosas; implica el cumplimiento del pacto o manual de convivencia y los requisitos necesarios para el buen funcionamiento de la institución. <br>
       <br> <b>Dedicación:</b>  Es la atención, esmero y buen cuidado con que se realizan las actividades académicas y escolares, con entrega, perseverancia, entusiasmo o sacrificio si se requiere, como una ofrenda a sí mismo y a la sociedad; implica la formación de hábitos de estudio. <br>
       <br> <b>Altruismo:</b>  Es la generosidad y el deseo de hacer el bien a los demás, con entrega y sentido de humanidad, sin esperar más recompensa que la satisfacción por el bien cumplido; implica ponerse en el lugar del otro y el trabajo de ayuda a la comunidad.</p>

{% endblock  %}